---
# Generated @ {{ datetime }}
service:
  user: {{ getv "/service/user" "haproxy" }}
  group: {{ getv "/service/group" "haproxy" }}
  home: {{ getv "/service/home" "/run/haproxy" }}
{{- if ne (getv "/acme/account/thumbprint" "UNDEFINED") "UNDEFINED" }}
acme:
  account:
    thumbprint: {{ getv "/acme/account/thumbprint" }}
{{- end }}
{{- if ne (getv "/squid/proxy/host" "UNDEFINED") "UNDEFINED" }}
squid:
  proxy:
    host: {{ getv "/squid/proxy/host" }}
    port: {{ getv "/squid/proxy/port" "3128" }}
{{- end }}
{{- if ne (getv "/wpad/proxy/host" "UNDEFINED") "UNDEFINED" }}
wpad:
  local:
    domain: {{ getv "/wpad/local/domain" "localdomain" }}
  proxy:
    host: {{ getv "/wpad/proxy/host" }}
    port: {{ getv "/wpad/proxy/port" "3128" }}
    domain: {{ getv "/wpad/local/domain" "localdomain" }}
{{- if ne (getv "/wpad/proxy/pac/host" "UNDEFINED") "UNDEFINED" }}
    pac:
      host: {{ getv "/wpad/proxy/pac/host" }}
{{- end }}
{{- end }}
